# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'assets/**'
      - 'docs/**'
      - 'examples/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'assets/**'
      - 'docs/**'
      - 'examples/**'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.2
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - name: Go Build
        run: go build -v .

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.2
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - run: go test -v .
